* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.big-container {
  background-image: url("img/volcano.jpg");
  border: 1px solid black;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.pokemon-Box {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 20%;
  left: 13%;
  // opacity: 0.8;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  // background: gray;
}

.pokemon-card {
  min-width: 20%;
  height: 50%;
  background-color: #ff204e;
  margin: 5px;
  padding: 10px;
  text-align: center;
  border-radius: 13px;
}

.pokemon-name {
  font-size: 1.5rem;
  color: white;
  margin-bottom: 15px;
}

.pokemon-type {
  font-size: 1.5rem;
  color: white;
  margin-top: 1.5rem;
}

.pokemon-img {
  width: 100%;
  height: 40%;
  object-fit: cover;
  border-radius: 13px;
}

.pokemonbtn {
  background: #4ccd99;
  width: 80%;
  height: 18%;
  border: none;
  border-radius: 13px;
  margin-top: 1.3rem;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

// vs
